# Personal
/perso
/notes.txt
/.vscode
/act
/docs

# Data
/src/lib/jsons/journals/*
!/src/lib/jsons/journals/raw_data.json
!/src/lib/jsons/journals/data.json
!/src/lib/jsons/journals/process.py

# Node
/package-lock.json
/node_modules

# SvelteKit
/.svelte-kit
/build

# Env
/.env
