@import 'tailwindcss';

.unselectable
{
	pointer-events: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

.selectable
{
	pointer-events: auto;
	user-select: auto;
	-moz-user-select: auto;
	-webkit-user-drag: auto;
	-webkit-user-select: auto;
	-ms-user-select: auto;
	-o-user-select: auto;
}
