@import 'tailwindcss';

*:focus
{
	outline: none;
}

.unselectable
{
	pointer-events: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

.selectable
{
	pointer-events: auto;
	user-select: auto;
	-moz-user-select: auto;
	-webkit-user-drag: auto;
	-webkit-user-select: auto;
	-ms-user-select: auto;
	-o-user-select: auto;
}

.flex-center
{
	@apply flex justify-center items-center;
}

.flex-center-row
{
	@apply flex flex-row justify-center items-center;
}

.flex-center-col
{
	@apply flex flex-col justify-center items-center;
}
